.page-container10 {
  width: 100%;
  display: flex;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
  background-color: #ffffff;
}
 
.page-header {
  gap: 361px;
  width: 100%;
  border: 2px dashed rgba(120, 120, 120, 0.4);
  height: 97px;
  display: flex;
  padding: 20px 61px;
  overflow: hidden;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  justify-content: space-between;
  background-color: rgba(31, 37, 42, 1);
}
 
.page-main {
  gap: var(--dl-layout-space-sixunits);
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  max-width: 1471px;
  min-height: 711px;
  align-items: flex-start;
  padding-top: var(--dl-layout-space-unit);
  flex-direction: row;
  justify-content: center;
}
 
.page-left-main-box {
  gap: var(--dl-layout-space-oneandhalfunits);
  width: 100%;
  height: 100%;
  display: flex;
  max-width: 846px;
  align-items: flex-start;
  padding-left: var(--dl-layout-space-unit);
  padding-right: var(--dl-layout-space-unit);
  flex-direction: column;
  justify-content: flex-start;
}
 
.page-headertextwashermachine {
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
 
.page-image1 {
  width: 151px;
  height: 151px;
  display: none;
  object-fit: cover;
}
 
.page-text10 {
  color: rgb(80, 80, 80);
  width: 100%;
  height: auto;
  font-size: 32px;
  align-self: flex-start;
  text-align: left;
  font-family: "Noto Serif SC";
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.page-text11 {
  color: var(--dl-color-theme-neutral-dark);
  font-style: normal;
}
 
.page-text12 {
  font-style: normal;
}
 
.page-text13 {
  color: #45c5ed;
  font-weight: 500;
}
 
.page-container11 {
  gap: 5px;
  width: 100%;
  height: 100%;
  display: flex;
  position: relative;
  max-width: 586px;
  min-width: 290px;
  box-shadow: 0px 0px 20px 3px #d4d4d4;
  margin-top: var(--dl-layout-space-unit);
  align-items: flex-start;
  padding-top: var(--dl-layout-space-unit);
  border-radius: var(--dl-layout-radius-imageradius);
  margin-bottom: var(--dl-layout-space-unit);
  flex-direction: column;
  justify-content: flex-start;
  background-color: #fdfdf0;
}
 
.page-icon10 {
  top: -21px;
  right: -14px;
  width: 11px;
  height: auto;
  position: absolute;
}
 
.page-icon12 {
  right: -14px;
  width: 11px;
  bottom: -20px;
  height: auto;
  position: absolute;
}
 
.page-icon14 {
  left: -15px;
  width: 11px;
  bottom: -20px;
  height: auto;
  position: absolute;
}
 
.page-icon16 {
  top: -21px;
  left: -14px;
  width: 11px;
  height: auto;
  position: absolute;
}
 
.page-text14 {
  color: rgb(49, 49, 49);
  height: auto;
  flex-grow: 1;
  font-size: 15px;
  font-style: normal;
  text-align: left;
  font-family: "Roboto";
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  padding-left: var(--dl-layout-space-unit);
  text-transform: none;
}
 
.page-ul {
  gap: 12px;
  width: 100%;
  height: 100%;
  margin: 0px;
  display: flex;
  padding-top: 12px;
  padding-left: var(--dl-layout-space-oneandhalfunits);
  padding-right: var(--dl-layout-space-twounits);
  flex-direction: column;
  padding-bottom: var(--dl-layout-space-unit);
}
 
.page-li1 {
  gap: var(--dl-layout-space-halfunit);
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  padding-left: 12px;
}
 
.page-vector1 {
  width: 12px;
  height: 11px;
}
 
.page-link1 {
  fill: #2f2f2f;
  color: rgb(68, 68, 68);
  text-decoration: none;
}
 
.page-li2 {
  gap: var(--dl-layout-space-halfunit);
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: row;
}
 
.page-image2 {
  width: 13px;
  height: 13px;
  object-fit: cover;
}
 
.page-link2 {
  fill: rgb(69, 197, 237);
  color: rgb(69, 197, 237);
  font-size: 15px;
  font-style: normal;
  font-family: "Roboto";
  font-weight: 400;
  padding-left: 0px;
  letter-spacing: 0.5px;
  text-decoration: none;
}
 
.page-li3 {
  gap: var(--dl-layout-space-halfunit);
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  padding-left: 12px;
}
 
.page-vector2 {
  width: 11px;
  height: 11px;
}
 
.page-link3 {
  fill: #444444;
  color: rgb(68, 68, 68);
  text-decoration: none;
}
 
.page-li4 {
  gap: var(--dl-layout-space-halfunit);
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  padding-left: 12px;
}
 
.page-vector3 {
  width: 11px;
  height: 11px;
}
 
.page-link4 {
  fill: #444444;
  color: rgb(68, 68, 68);
  text-decoration: none;
}
 
.page-li5 {
  gap: var(--dl-layout-space-halfunit);
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  padding-left: 12px;
  flex-direction: row;
}
 
.page-vector4 {
  width: 11px;
  height: 11px;
}
 
.page-link5 {
  fill: #54C9EE;
  color: rgb(68, 68, 68);
  font-style: normal;
  text-decoration: none;
}
 
.page-li6 {
  gap: var(--dl-layout-space-halfunit);
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  padding-left: 12px;
}
 
.page-vector5 {
  width: 11px;
  height: 11px;
}
 
.page-link6 {
  fill: #54C9EE;
  color: rgb(68, 68, 68);
  font-style: normal;
  text-decoration: none;
}
 
.page-li7 {
  gap: var(--dl-layout-space-halfunit);
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  padding-left: 12px;
}
 
.page-vector6 {
  width: 11px;
  height: 11px;
}
 
.page-link7 {
  fill: #54C9EE;
  color: rgb(68, 68, 68);
  font-style: normal;
  text-decoration: none;
}
 
.page-li8 {
  gap: var(--dl-layout-space-halfunit);
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  padding-left: 12px;
}
 
.page-vector7 {
  width: 11px;
  height: 11px;
}
 
.page-link8 {
  fill: #54C9EE;
  color: rgb(68, 68, 68);
  font-style: normal;
  text-decoration: none;
}
 
.page-icon18 {
  top: -12px;
  left: -1px;
  width: 100%;
  height: 5px;
  position: absolute;
}
 
.page-icon20 {
  left: -2px;
  width: 100%;
  bottom: -12px;
  height: 5px;
  position: absolute;
}
 
.page-icon22 {
  top: -2px;
  right: -11px;
  width: 5px;
  height: 100%;
  position: absolute;
}
 
.page-icon24 {
  left: -12px;
  width: 5px;
  bottom: -3px;
  height: 100%;
  position: absolute;
}
 
.page-firstproblem {
  gap: var(--dl-layout-space-unit);
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
 
.page-container12 {
  gap: var(--dl-layout-space-halfunit);
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
 
.page-icon26 {
  width: 100%;
  height: 5px;
}
 
.page-container13 {
  width: 100%;
  height: 100%;
  display: flow-root;
  max-width: 900px;
  min-width: 100%;
}
 
.page-container14 {
  gap: 5px;
  float: right;
  width: 346px;
  height: 250px;
  display: flex;
  max-width: 370px;
  min-width: auto;
  max-height: 100%;
  min-height: 100%;
  align-items: center;
  margin-left: var(--dl-layout-space-oneandhalfunits);
  flex-direction: column;
  justify-content: center;
  background-color: rgba(69, 197, 237, 0.1);
}
 
.page-image38230521 {
  float: right;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 100%;
  max-height: 240px;
  min-height: 219px;
}
 
.page-text19 {
  font-family: "Noto Serif SC";
  font-weight: 700;
}
 
.page-text22 {
  font-style: normal;
  font-family: "Noto Serif SC";
  font-weight: 700;
}
 
.page-text25 {
  font-style: normal;
  font-family: "Noto Serif SC";
  font-weight: 700;
}
 
.page-text28 {
  font-style: normal;
  font-family: "Noto Serif SC";
  font-weight: 700;
}
 
.page-text31 {
  font-style: normal;
  font-family: "Noto Serif SC";
  font-weight: 700;
}
 
.page-text34 {
  font-style: normal;
  font-family: "Noto Serif SC";
  font-weight: 700;
}
 
.page-container15 {
  width: 400px;
  height: 70px;
  display: flex;
  align-self: flex-start;
  box-shadow: 5px 5px 10px 0px #d4d4d4;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
  background-color: #58c3e8;
}
 
.page-text37 {
  color: rgb(255, 255, 255);
  height: auto;
  font-size: 22px;
  align-self: center;
  font-style: normal;
  text-align: center;
  font-family: "Spectral";
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.page-thirdproblem1 {
  gap: var(--dl-layout-space-unit);
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
 
.page-container16 {
  gap: var(--dl-layout-space-halfunit);
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
 
.page-icon28 {
  width: 100%;
  height: 5px;
}
 
.page-container17 {
  width: 100%;
  display: flow-root;
}
 
.page-container18 {
  gap: 5px;
  float: right;
  width: 279px;
  height: auto;
  display: flex;
  max-width: 220px;
  min-width: auto;
  max-height: 200px;
  min-height: auto;
  align-items: center;
  margin-left: var(--dl-layout-space-oneandhalfunits);
  flex-direction: column;
  justify-content: center;
  background-color: rgba(69, 197, 237, 0.1);
}
 
.page-image38230522 {
  float: right;
  width: 100%;
  height: 100%;
  max-width: 100%;
  min-width: 100%;
  max-height: 100%;
  min-height: 100%;
}
 
.page-text41 {
  width: 100%;
  height: 100%;
  display: block;
  font-size: 15px;
  max-width: 100%;
  align-self: center;
  font-style: normal;
  text-align: center;
  font-family: "Roboto";
  font-weight: 400;
  margin-bottom: var(--dl-layout-space-halfunit);
}
 
.page-thirdproblem2 {
  gap: var(--dl-layout-space-unit);
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
 
.page-container19 {
  gap: var(--dl-layout-space-halfunit);
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
 
.page-icon30 {
  width: 100%;
  height: 5px;
}
 
.page-container20 {
  width: 100%;
  display: flow-root;
}
 
.page-container21 {
  gap: 5px;
  float: right;
  width: 279px;
  height: auto;
  display: flex;
  max-width: 220px;
  min-width: auto;
  max-height: 200px;
  min-height: auto;
  align-items: center;
  margin-left: var(--dl-layout-space-oneandhalfunits);
  flex-direction: column;
  justify-content: center;
  background-color: rgba(69, 197, 237, 0.1);
}
 
.page-image38230523 {
  float: right;
  width: 100%;
  height: 100%;
  max-width: 100%;
  min-width: 100%;
  max-height: 100%;
  min-height: 100%;
}
 
.page-text44 {
  width: 100%;
  height: 100%;
  display: block;
  font-size: 15px;
  max-width: 100%;
  align-self: center;
  font-style: normal;
  text-align: center;
  font-family: "Roboto";
  font-weight: 400;
  margin-bottom: var(--dl-layout-space-halfunit);
}
 
.page-fiveproblem1 {
  gap: var(--dl-layout-space-unit);
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
 
.page-container22 {
  gap: var(--dl-layout-space-halfunit);
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
 
.page-icon32 {
  width: 100%;
  height: 5px;
}
 
.page-container23 {
  width: 100%;
  display: flow-root;
}
 
.page-container24 {
  gap: 5px;
  float: right;
  width: 100%;
  height: auto;
  display: flex;
  max-width: 250px;
  min-width: auto;
  max-height: 200px;
  min-height: 100%;
  align-items: center;
  margin-left: var(--dl-layout-space-oneandhalfunits);
  flex-direction: column;
  justify-content: center;
  background-color: rgba(69, 197, 237, 0.1);
}
 
.page-image38230524 {
  float: right;
  width: 100%;
  height: 100%;
  max-width: 100%;
  min-width: 100%;
  max-height: 240px;
  min-height: 150px;
}
 
.page-text47 {
  width: 100%;
  height: 100%;
  display: block;
  font-size: 15px;
  max-width: 250px;
  align-self: center;
  font-style: normal;
  text-align: center;
  font-family: "Roboto";
  font-weight: 400;
  margin-bottom: var(--dl-layout-space-halfunit);
}
 
.page-text48 {
  color: rgb(40, 40, 40);
  width: 100%;
  height: auto;
  align-self: stretch;
  text-align: left;
  font-stretch: normal;
}
 
.page-fiveproblem2 {
  gap: var(--dl-layout-space-unit);
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
 
.page-container25 {
  gap: var(--dl-layout-space-halfunit);
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
 
.page-icon34 {
  width: 100%;
  height: 5px;
}
 
.page-container26 {
  width: 100%;
  display: flow-root;
}
 
.page-container27 {
  gap: 5px;
  float: right;
  width: 100%;
  height: auto;
  display: flex;
  max-width: 250px;
  min-width: auto;
  max-height: 200px;
  min-height: 100%;
  align-items: center;
  margin-left: var(--dl-layout-space-oneandhalfunits);
  flex-direction: column;
  justify-content: center;
  background-color: rgba(69, 197, 237, 0.1);
}
 
.page-image38230525 {
  float: right;
  width: 100%;
  height: 100%;
  max-width: 100%;
  min-width: 100%;
  max-height: 240px;
  min-height: 150px;
}
 
.page-text50 {
  width: 100%;
  height: 100%;
  display: block;
  font-size: 15px;
  max-width: 250px;
  align-self: center;
  font-style: normal;
  text-align: center;
  font-family: "Roboto";
  font-weight: 400;
  margin-bottom: var(--dl-layout-space-halfunit);
}
 
.page-text51 {
  color: rgb(40, 40, 40);
  width: 100%;
  height: auto;
  align-self: stretch;
  text-align: left;
  font-stretch: normal;
}
 
.page-fiveproblem3 {
  gap: var(--dl-layout-space-unit);
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
 
.page-container28 {
  gap: var(--dl-layout-space-halfunit);
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
 
.page-icon36 {
  width: 100%;
  height: 5px;
}
 
.page-container29 {
  width: 100%;
  display: flow-root;
}
 
.page-container30 {
  gap: 5px;
  float: right;
  width: 100%;
  height: auto;
  display: flex;
  max-width: 250px;
  min-width: auto;
  max-height: 200px;
  min-height: 100%;
  align-items: center;
  margin-left: var(--dl-layout-space-oneandhalfunits);
  flex-direction: column;
  justify-content: center;
  background-color: rgba(69, 197, 237, 0.1);
}
 
.page-image38230526 {
  float: right;
  width: 100%;
  height: 100%;
  max-width: 100%;
  min-width: 100%;
  max-height: 240px;
  min-height: 150px;
}
 
.page-text53 {
  width: 100%;
  height: 100%;
  display: block;
  font-size: 15px;
  max-width: 250px;
  align-self: center;
  font-style: normal;
  text-align: center;
  font-family: "Roboto";
  font-weight: 400;
  margin-bottom: var(--dl-layout-space-halfunit);
}
 
.page-text54 {
  color: rgb(40, 40, 40);
  width: 100%;
  height: auto;
  align-self: stretch;
  text-align: left;
  font-stretch: normal;
}
 
.page-fiveproblem4 {
  gap: var(--dl-layout-space-unit);
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
 
.page-container31 {
  gap: var(--dl-layout-space-halfunit);
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
 
.page-icon38 {
  width: 100%;
  height: 5px;
}
 
.page-container32 {
  width: 100%;
  display: flow-root;
}
 
.page-container33 {
  gap: 5px;
  float: right;
  width: 100%;
  height: auto;
  display: flex;
  max-width: 250px;
  min-width: auto;
  max-height: 200px;
  min-height: 100%;
  align-items: center;
  margin-left: var(--dl-layout-space-oneandhalfunits);
  flex-direction: column;
  justify-content: center;
  background-color: rgba(69, 197, 237, 0.1);
}
 
.page-image38230527 {
  float: right;
  width: 100%;
  height: 100%;
  max-width: 100%;
  min-width: 100%;
  max-height: 240px;
  min-height: 150px;
}
 
.page-text56 {
  width: 100%;
  height: 100%;
  display: block;
  font-size: 15px;
  max-width: 250px;
  align-self: center;
  font-style: normal;
  text-align: center;
  font-family: "Roboto";
  font-weight: 400;
  margin-bottom: var(--dl-layout-space-halfunit);
}
 
.page-text57 {
  color: rgb(40, 40, 40);
  width: 100%;
  height: auto;
  align-self: stretch;
  text-align: left;
  font-stretch: normal;
}
 
.page-better-call-master {
  gap: var(--dl-layout-space-oneandhalfunits);
  width: 100%;
  height: 100%;
  display: flex;
  position: relative;
  max-width: 100%;
  box-shadow: 0px 0px 20px 3px #d4d4d4;
  margin-top: var(--dl-layout-space-oneandhalfunits);
  min-height: 330px;
  align-items: center;
  padding-top: var(--dl-layout-space-twounits);
  padding-left: var(--dl-layout-space-twounits);
  border-radius: var(--dl-layout-radius-imageradius);
  padding-right: var(--dl-layout-space-twounits);
  flex-direction: column;
  padding-bottom: var(--dl-layout-space-twounits);
  justify-content: center;
  background-color: #fdfdf0;
}
 
.page-icon40 {
  top: -21px;
  right: -14px;
  width: 11px;
  height: auto;
  position: absolute;
}
 
.page-icon42 {
  right: -15px;
  width: 11px;
  bottom: -20px;
  height: auto;
  position: absolute;
}
 
.page-icon44 {
  left: -15px;
  width: 11px;
  bottom: -20px;
  height: auto;
  position: absolute;
}
 
.page-icon46 {
  top: -21px;
  left: -14px;
  width: 11px;
  height: auto;
  position: absolute;
}
 
.page-icon48 {
  top: -12px;
  left: -1px;
  width: 100%;
  height: 5px;
  position: absolute;
}
 
.page-icon50 {
  left: -2px;
  width: 100%;
  bottom: -12px;
  height: 5px;
  position: absolute;
}
 
.page-icon52 {
  top: 0px;
  right: -12px;
  width: 5px;
  height: 100%;
  position: absolute;
}
 
.page-icon54 {
  left: -12px;
  width: 5px;
  bottom: -3px;
  height: 100%;
  position: absolute;
}
 
.page-text58 {
  fill: var(--dl-color-theme-neutral-dark);
  color: var(--dl-color-theme-neutral-dark);
  width: auto;
  height: auto;
  font-size: 20px;
  align-self: center;
  font-style: normal;
  text-align: center;
  font-family: "Noto Serif SC";
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.page-text59 {
  color: rgba(39, 38, 38, 0.99);
  width: 100%;
  height: auto;
  font-size: 16px;
  max-width: 100%;
  text-align: left;
  font-family: "Nunito";
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.page-text60 {
  font-style: normal;
}
 
.page-text61 {
  color: #58c3e8;
  font-weight: 600;
}
 
.page-text62 {
  color: #58c3e8;
  font-weight: 600;
}
 
.page-text63 {
  color: #58c3e8;
  font-weight: 600;
}
 
.page-text64 {
  font-weight: 600;
}
 
.page-text65 {
  font-style: normal;
}
 
.page-icon56 {
  width: 100%;
  height: 5px;
  max-width: 600px;
}
 
.page-text66 {
  fill: #58C3E8;
  color: #58C3E8;
  width: auto;
  height: 100%;
  font-size: 18px;
  font-style: normal;
  text-align: center;
  font-family: "Noto Serif SC";
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: underline;
}
 
.page-container34 {
  gap: var(--dl-layout-space-unit);
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
 
.page-container35 {
  gap: var(--dl-layout-space-halfunit);
  width: 100%;
  display: flex;
  max-width: 250px;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
 
.page-container36 {
  gap: var(--dl-layout-space-halfunit);
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
 
.page-image3 {
  width: 29px;
  height: 29px;
  object-fit: cover;
}
 
.page-text67 {
  color: rgb(40, 40, 40);
  width: 100%;
  height: 100%;
  font-size: 19px;
  font-style: normal;
  text-align: left;
  font-family: "Noto Serif SC";
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.page-container37 {
  gap: var(--dl-layout-space-halfunit);
  flex: 0 0 auto;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}
 
.page-image4 {
  width: 29px;
  height: 28px;
  object-fit: cover;
}
 
.page-text68 {
  color: rgb(40, 40, 40);
  width: 100%;
  height: auto;
  font-size: 19px;
  font-style: normal;
  text-align: left;
  font-family: "Noto Serif SC";
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.page-button {
  fill: var(--dl-color-theme-secondary1);
  color: rgb(250, 248, 246);
  width: 279px;
  height: 52px;
  font-size: 15px;
  font-family: "Spectral SC";
  border-radius: 8px;
  background-color: rgb(40, 40, 40);
}
 
.page-container38 {
  gap: var(--dl-layout-space-sixunits);
  width: 100%;
  height: 100%;
  display: flex;
  margin-top: var(--dl-layout-space-twounits);
  align-items: center;
  padding-left: var(--dl-layout-space-twounits);
  margin-bottom: var(--dl-layout-space-twounits);
  padding-right: var(--dl-layout-space-twounits);
  flex-direction: row;
  justify-content: center;
}
 
.page-container39 {
  gap: var(--dl-layout-space-unit);
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  max-width: 300px;
  box-shadow: 5px 5px 10px 0px #d4d4d4;
  align-items: center;
  padding-top: 11px;
  border-radius: var(--dl-layout-radius-radius4);
  flex-direction: row;
  padding-bottom: var(--dl-layout-space-oneandhalfunits);
  justify-content: center;
}
 
.page-container40 {
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  border-radius: var(--dl-layout-radius-round);
  justify-content: center;
  background-color: #373737;
}
 
.page-icon58 {
  fill: var(--dl-color-theme-neutral-dark);
  color: #58c3e8;
  width: 20px;
  height: 20px;
  max-width: auto;
}
 
.page-container41 {
  gap: var(--dl-layout-space-halfunit);
  width: 191px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
 
.page-text69 {
  color: rgba(55, 55, 55, 1);
  width: 100%;
  height: auto;
  font-size: 17px;
  max-width: 100%;
  align-self: flex-end;
  font-style: normal;
  text-align: left;
  font-family: "Noto Serif SC";
  font-weight: 600;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.page-text70 {
  fill: #58C3E8;
  color: #58C3E8;
  width: 100%;
  height: auto;
  font-size: 16px;
  text-align: left;
  font-family: "Noto Serif SC";
  font-weight: 600;
  line-height: normal;
  font-stretch: normal;
  letter-spacing: 0.5;
  text-transform: none;
  text-decoration: none;
}
 
.page-container42 {
  gap: var(--dl-layout-space-unit);
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  max-width: 300px;
  align-items: center;
  padding-top: 11px;
  border-radius: var(--dl-layout-radius-imageradius);
  flex-direction: row-reverse;
  padding-bottom: var(--dl-layout-space-oneandhalfunits);
  justify-content: center;
}
 
.page-container43 {
  width: 40px;
  height: 40px;
  display: flex;
  align-items: flex-start;
  border-radius: var(--dl-layout-radius-round);
  justify-content: center;
  background-color: #373737;
}
 
.page-icon60 {
  fill: var(--dl-color-theme-neutral-dark);
  color: #58c3e8;
  width: 20px;
  height: 20px;
  max-width: auto;
  align-self: center;
}
 
.page-container44 {
  gap: var(--dl-layout-space-halfunit);
  width: 191px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
 
.page-text71 {
  color: rgba(55, 55, 55, 1);
  width: 100%;
  height: auto;
  font-size: 17px;
  max-width: 100%;
  align-self: flex-end;
  font-style: normal;
  text-align: left;
  font-family: "Noto Serif SC";
  font-weight: 600;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.page-text72 {
  fill: #58C3E8;
  color: rgb(88, 195, 232);
  width: 100%;
  height: auto;
  font-size: 16px;
  text-align: left;
  font-family: "Noto Serif SC";
  font-weight: 600;
  line-height: normal;
  font-stretch: normal;
  letter-spacing: 0.5px;
  text-transform: none;
  text-decoration: none;
}
 
.page-icon62 {
  width: 100%;
  height: 5px;
  max-width: 100%;
}
 
.page-container45 {
  width: 277px;
  height: 54px;
  display: flex;
  align-self: center;
  box-shadow: 5px 5px 10px 0px #d4d4d4;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
  background-color: #58c3e8;
}
 
.page-text73 {
  color: rgb(255, 255, 255);
  height: auto;
  font-size: 22px;
  align-self: center;
  font-style: italic;
  text-align: left;
  font-family: "Spectral";
  font-weight: 600;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.page-container46 {
  gap: var(--dl-layout-space-oneandhalfunits);
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  padding-top: var(--dl-layout-space-oneandhalfunits);
  padding-bottom: var(--dl-layout-space-twounits);
  justify-content: center;
  background-color: #rgba(131, 213, 242, 0.23);
}
 
.page-container47 {
  gap: var(--dl-layout-space-unit);
  flex: 0 0 auto;
  width: 100%;
  height: 120px;
  display: flex;
  max-width: 350px;
  box-shadow: 5px 5px 10px 0px #d4d4d4;
  min-height: 120px;
  align-items: center;
  padding-top: 11px;
  padding-left: var(--dl-layout-space-oneandhalfunits);
  border-radius: var(--dl-layout-radius-imageradius);
  padding-right: var(--dl-layout-space-oneandhalfunits);
  flex-direction: row;
  padding-bottom: var(--dl-layout-space-unit);
  justify-content: center;
}
 
.page-image38230321 {
  width: 110px;
  height: 100px;
}
 
.page-text76 {
  fill: #58C3E8;
  color: rgb(55, 55, 55);
  width: 100%;
  height: auto;
  font-size: 15px;
  font-style: normal;
  text-align: left;
  font-family: "Nunito";
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-transform: none;
  text-decoration: none;
}
 
.page-container48 {
  gap: var(--dl-layout-space-unit);
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  max-width: 350px;
  box-shadow: 5px 5px 10px 0px #d4d4d4;
  max-height: 120px;
  min-height: 120px;
  align-items: center;
  padding-top: 11px;
  padding-left: var(--dl-layout-space-oneandhalfunits);
  border-radius: var(--dl-layout-radius-imageradius);
  padding-right: var(--dl-layout-space-oneandhalfunits);
  flex-direction: row;
  padding-bottom: var(--dl-layout-space-unit);
  justify-content: center;
}
 
.page-image38230322 {
  width: 110px;
  height: 100px;
}
 
.page-text77 {
  fill: #58C3E8;
  color: rgb(55, 55, 55);
  width: 100%;
  height: auto;
  font-size: 15px;
  font-style: normal;
  text-align: left;
  font-family: "Nunito";
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-transform: none;
  text-decoration: none;
}
 
.page-container49 {
  gap: var(--dl-layout-space-unit);
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  max-width: 350px;
  box-shadow: 5px 5px 10px 0px #d4d4d4;
  max-height: 120px;
  min-height: 120px;
  align-items: center;
  padding-top: 11px;
  padding-left: var(--dl-layout-space-oneandhalfunits);
  border-radius: var(--dl-layout-radius-imageradius);
  padding-right: var(--dl-layout-space-oneandhalfunits);
  flex-direction: row;
  padding-bottom: var(--dl-layout-space-unit);
  justify-content: center;
}
 
.page-image38230323 {
  width: 110px;
  height: 100px;
}
 
.page-text78 {
  fill: #58C3E8;
  color: rgb(55, 55, 55);
  width: 100%;
  height: auto;
  font-size: 15px;
  font-style: normal;
  text-align: left;
  font-family: "Nunito";
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-transform: none;
  text-decoration: none;
}
 
.page-container50 {
  gap: var(--dl-layout-space-unit);
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  max-width: 350px;
  box-shadow: 5px 5px 10px 0px #d4d4d4;
  max-height: 120px;
  min-height: 120px;
  align-items: center;
  padding-top: 11px;
  padding-left: var(--dl-layout-space-oneandhalfunits);
  border-radius: var(--dl-layout-radius-imageradius);
  padding-right: var(--dl-layout-space-oneandhalfunits);
  flex-direction: row;
  padding-bottom: var(--dl-layout-space-unit);
  justify-content: center;
}
 
.page-image38230324 {
  width: 110px;
  height: 100px;
}
 
.page-text79 {
  fill: #58C3E8;
  color: rgb(55, 55, 55);
  width: 100%;
  height: auto;
  font-size: 15px;
  font-style: normal;
  text-align: left;
  font-family: "Nunito";
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-transform: none;
  text-decoration: none;
}
 
.page-dops-info {
  width: 100%;
  height: 100%;
  display: flex;
  max-width: 417px;
  align-items: flex-start;
  flex-direction: column;
}
 
.page-frame1299 {
  gap: 24px;
  width: 100%;
  height: auto;
  display: flex;
  padding: 31px 34px;
  position: sticky;
  align-self: center;
  box-shadow: 5px 5px 4px 0px #d4d4d4;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
  background-color: #FAF8F6;
}
 
.page-text80 {
  color: rgb(0, 0, 0);
  height: auto;
  font-size: 17px;
  align-self: stretch;
  font-style: Medium;
  text-align: left;
  font-family: "Roboto Serif";
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.page-frame12981 {
  gap: 21px;
  display: flex;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  flex-direction: row-reverse;
}
 
.page-text81 {
  color: rgb(41, 41, 41);
  height: auto;
  flex-grow: 1;
  font-size: 15px;
  font-style: Regular;
  text-align: left;
  font-family: "Nunito";
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.page-container51 {
  flex: 0 0 auto;
  width: 118px;
  border: 2px dashed rgba(120, 120, 120, 0.4);
  height: 80px;
  display: flex;
  align-items: flex-start;
  background-size: cover;
  background-image: url("public/100x100/image%203823137-200h.webp");
}
 
.page-frame12982 {
  gap: 21px;
  display: flex;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  flex-direction: row-reverse;
}
 
.page-text82 {
  color: rgb(41, 41, 41);
  height: auto;
  flex-grow: 1;
  font-size: 15px;
  font-style: Regular;
  text-align: left;
  font-family: "Nunito";
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.page-container52 {
  flex: 0 0 auto;
  width: 118px;
  border: 2px dashed rgba(120, 120, 120, 0.4);
  height: 80px;
  display: flex;
  align-items: flex-start;
  background-size: cover;
  background-image: url("public/100x100/image%203823133-200h.webp");
}
 
.page-frame12983 {
  gap: 21px;
  display: flex;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  flex-direction: row-reverse;
}
 
.page-text83 {
  color: rgb(41, 41, 41);
  height: auto;
  flex-grow: 1;
  font-size: 15px;
  font-style: Regular;
  text-align: left;
  font-family: "Nunito";
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.page-container53 {
  flex: 0 0 auto;
  width: 118px;
  border: 2px dashed rgba(120, 120, 120, 0.4);
  height: 80px;
  display: flex;
  align-items: flex-start;
  background-size: cover;
  background-image: url("public/100x100/image%203823132-200h.webp");
}
 
.page-frame12984 {
  gap: 21px;
  display: flex;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  flex-direction: row-reverse;
}
 
.page-text84 {
  color: rgb(41, 41, 41);
  height: auto;
  flex-grow: 1;
  font-size: 15px;
  font-style: Regular;
  text-align: left;
  font-family: "Nunito";
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.page-container54 {
  flex: 0 0 auto;
  width: 118px;
  border: 2px dashed rgba(120, 120, 120, 0.4);
  height: 80px;
  display: flex;
  align-items: flex-start;
  background-size: cover;
  background-image: url("public/100x100/image%203823134-200h.webp");
}
 
.page-frame12985 {
  gap: 21px;
  display: flex;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  flex-direction: row-reverse;
}
 
.page-text85 {
  color: rgb(41, 41, 41);
  height: auto;
  flex-grow: 1;
  font-size: 15px;
  font-style: Regular;
  text-align: left;
  font-family: "Nunito";
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.page-container55 {
  flex: 0 0 auto;
  width: 118px;
  border: 2px dashed rgba(120, 120, 120, 0.4);
  height: 80px;
  display: flex;
  align-items: flex-start;
  background-size: cover;
  background-image: url("public/100x100/image%203823136-200w.webp");
}
 
.page-frame12986 {
  gap: 21px;
  display: flex;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  flex-direction: row-reverse;
}
 
.page-text86 {
  color: rgb(41, 41, 41);
  height: auto;
  flex-grow: 1;
  font-size: 15px;
  font-style: Regular;
  text-align: left;
  font-family: "Nunito";
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.page-container56 {
  flex: 0 0 auto;
  width: 118px;
  border: 2px dashed rgba(120, 120, 120, 0.4);
  height: 80px;
  display: flex;
  align-items: flex-start;
  background-size: cover;
  background-image: url("public/100x100/image%203823142-200h.webp");
}
 
@media(max-width: 991px) {
  .page-left-main-box {
    align-items: center;
    justify-content: center;
  }
  .page-container14 {
    min-width: 45px;
  }
  .page-container15 {
    align-self: center;
  }
  .page-container18 {
    min-width: 45px;
  }
  .page-container21 {
    min-width: 45px;
  }
  .page-container24 {
    min-width: 45px;
  }
  .page-container27 {
    min-width: 45px;
  }
  .page-container30 {
    min-width: 45px;
  }
  .page-container33 {
    min-width: 45px;
  }
  .page-container41 {
    gap: var(--dl-layout-space-unit);
  }
  .page-container44 {
    gap: var(--dl-layout-space-unit);
  }
  .page-icon62 {
    max-width: 500px;
  }
  .page-text77 {
    width: auto;
  }
  .page-text78 {
    width: auto;
  }
  .page-text79 {
    width: auto;
  }
  .page-frame1299 {
    display: none;
  }
}
 
@media(max-width: 767px) {
  .page-left-main-box {
    align-items: center;
  }
  .page-text10 {
    text-align: center;
  }
  .page-container11 {
    max-width: 350px;
  }
  .page-link2 {
    font-size: 14px;
  }
  .page-link3 {
    font-size: 14px;
  }
  .page-link4 {
    font-size: 14px;
  }
  .page-container13 {
    min-width: 100%;
  }
  .page-better-call-master {
    max-width: 400px;
  }
  .page-container38 {
    gap: var(--dl-layout-space-twounits);
    flex-wrap: wrap;
    align-self: center;
    justify-content: center;
  }
}
 
@media(max-width: 479px) {
  .page-header {
    height: 84px;
  }
  .page-left-main-box {
    width: 100%;
    align-self: flex-start;
    align-items: center;
    justify-content: center;
  }
  .page-headertextwashermachine {
    position: relative;
    margin-top: var(--dl-layout-space-fiveunits);
  }
  .page-image1 {
    top: -149px;
    left: 0px;
    right: 0px;
    width: 140px;
    height: 140px;
    margin: auto;
    display: flex;
    position: absolute;
    align-items: center;
    justify-content: center;
  }
  .page-text10 {
    fill: #373333;
    color: rgb(55, 51, 51);
    font-size: 25px;
    font-style: normal;
    text-align: center;
    font-family: Noto Serif SC;
    font-weight: 400;
    line-height: normal;
    text-decoration: none;
  }
  .page-container11 {
    width: auto;
    max-width: 305px;
    min-width: 290px;
  }
  .page-icon10 {
    top: -21px;
    right: -11px;
  }
  .page-icon12 {
    right: -12px;
    bottom: -20px;
  }
  .page-icon14 {
    left: -13px;
    bottom: -20px;
  }
  .page-icon16 {
    top: -21px;
    left: -12px;
  }
  .page-text14 {
    font-size: 14px;
  }
  .page-ul {
    padding-left: 19px;
  }
  .page-icon22 {
    top: -3px;
    right: -9px;
  }
  .page-icon24 {
    top: 0px;
    left: -10px;
  }
  .page-container13 {
    width: auto;
    min-width: 100%;
  }
  .page-container14 {
    gap: var(--dl-layout-space-halfunit);
    height: 100%;
    max-width: 100%;
    min-width: 100%;
    min-height: 100%;
    margin-bottom: 14px;
  }
  .page-image38230521 {
    width: 100%;
    min-width: 50%;
    min-height: 50px;
  }
  .page-container15 {
    width: 100%;
  }
  .page-text37 {
    width: 100%;
    font-size: 18px;
    text-align: center;
  }
  .page-container18 {
    gap: var(--dl-layout-space-halfunit);
    height: 100%;
    max-width: var(--dl-layout-size-xxlarge);
    min-width: 100%;
    min-height: 100%;
    margin-bottom: 14px;
  }
  .page-image38230522 {
    width: 100%;
    min-width: 50%;
    min-height: 50px;
  }
  .page-text41 {
    font-size: 13px;
  }
  .page-container21 {
    gap: var(--dl-layout-space-halfunit);
    height: 100%;
    max-width: var(--dl-layout-size-xxlarge);
    min-width: 100%;
    min-height: 100%;
    margin-bottom: 14px;
  }
  .page-image38230523 {
    width: 100%;
    min-width: 50%;
    min-height: 50px;
  }
  .page-text44 {
    font-size: 13px;
  }
  .page-container24 {
    gap: var(--dl-layout-space-halfunit);
    height: 100%;
    max-width: 100%;
    min-width: 100%;
    min-height: 100%;
    margin-bottom: 14px;
  }
  .page-image38230524 {
    width: 100%;
    min-width: 50%;
    min-height: 50px;
  }
  .page-text47 {
    font-size: 13px;
    font-style: normal;
    font-family: Roboto;
    font-weight: 400;
  }
  .page-container27 {
    gap: var(--dl-layout-space-halfunit);
    height: 100%;
    max-width: 100%;
    min-width: 100%;
    min-height: 100%;
    margin-bottom: 14px;
  }
  .page-image38230525 {
    width: 100%;
    min-width: 50%;
    min-height: 50px;
  }
  .page-text50 {
    font-size: 13px;
    font-style: normal;
    font-family: Roboto;
    font-weight: 400;
  }
  .page-container30 {
    gap: var(--dl-layout-space-halfunit);
    height: 100%;
    max-width: 100%;
    min-width: 100%;
    min-height: 100%;
    margin-bottom: 14px;
  }
  .page-image38230526 {
    width: 100%;
    min-width: 50%;
    min-height: 50px;
  }
  .page-text53 {
    font-size: 13px;
    font-style: normal;
    font-family: Roboto;
    font-weight: 400;
  }
  .page-container33 {
    gap: var(--dl-layout-space-halfunit);
    height: 100%;
    max-width: 100%;
    min-width: 100%;
    min-height: 100%;
    margin-bottom: 14px;
  }
  .page-image38230527 {
    width: 100%;
    min-width: 50%;
    min-height: 50px;
  }
  .page-text56 {
    font-size: 13px;
    font-style: normal;
    font-family: Roboto;
    font-weight: 400;
  }
  .page-better-call-master {
    max-width: 290px;
    padding-left: 15px;
    padding-right: 15px;
  }
  .page-text58 {
    color: rgb(49, 49, 49);
    font-size: 19px;
    font-family: Roboto Serif;
    font-weight: 500;
    line-height: normal;
    text-decoration: none;
  }
  .page-text59 {
    font-size: 15px;
    font-family: Noto Serif SC;
  }
  .page-text66 {
    font-style: normal;
    text-align: center;
    font-weight: 500;
  }
  .page-container34 {
    gap: var(--dl-layout-space-twounits);
    width: 100%;
    height: 100%;
  }
  .page-container35 {
    align-items: center;
    justify-content: center;
  }
  .page-text67 {
    font-style: normal;
    text-align: left;
    font-weight: 500;
  }
  .page-text68 {
    font-style: normal;
    text-align: left;
    font-weight: 500;
  }
  .page-button {
    color: #ffffff;
    width: 100%;
    font-size: 15px;
    font-family: Roboto Serif;
    border-color: #ffffff;
    background-color: rgb(40, 40, 40);
  }
  .page-container38 {
    gap: var(--dl-layout-space-twounits);
    align-items: center;
    padding-left: 0px;
    padding-right: 0px;
    flex-direction: column;
    justify-content: center;
  }
  .page-icon58 {
    width: 17px;
    height: 17px;
  }
  .page-container41 {
    gap: var(--dl-layout-space-halfunit);
  }
  .page-text69 {
    font-size: 16px;
  }
  .page-icon60 {
    width: 17px;
    height: 17px;
  }
  .page-container44 {
    gap: var(--dl-layout-space-halfunit);
  }
  .page-text71 {
    color: rgb(55, 55, 55);
    font-size: 16px;
    font-style: normal;
    font-family: Noto Serif SC;
    font-weight: 600;
    line-height: normal;
    text-decoration: none;
  }
  .page-text76 {
    font-size: 14px;
  }
  .page-text77 {
    font-size: 14px;
  }
  .page-text78 {
    font-size: 14px;
  }
  .page-text79 {
    font-size: 14px;
  }
}
